.home-icon{
    height: 45px;
    width: 45px;
    top: 40px;
    left: 40px;
    position: fixed;
    background-color: #222831;
    border-radius: 50px;
    padding:10px;
    cursor: pointer;
}
.home-icon:hover{
     transform: scale(1.05); 
     transition: 0.3s;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width:500px){
    .home-icon{
    height: 35px;
    width: 35px;
    top: 90vh;
    left: 80vw;
    }
}