
.user-input{
     width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 80%);
    background-color: #222831;
    color: beige;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
}
.input-emoji{
     width: 25%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    margin-left: 24%;
    margin-top: 20px;
    background-color: #222831;
}
.btn-select{
    width: 23%;
    margin-left: 20px;
}
.emoji-picker{
    position: fixed !important;
    z-index:1000;
    left: 51%;
}
.clear-btn{
    margin-top:20px ;
     background-color: #222831;
  color: beige;
  border: none;
  padding: 10px 20px;
  text-align: center;
  min-width: 140px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
}
.clear-btn:hover{
   transform: scale(1.05); 
  transition: transform 0.3s;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  color: #222831;
  background-color: beige
}
.btn-container{
    display: flex;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width:500px){
    .app-title{
        font-size: 25px;
    }
    .input-emoji{             /* Make it responsive */
    margin-left: 10%;          /* Align to the left */    /* Optional: maintain left alignment */         /* Ensure it takes full width line */
    font-size: 15px; 
    width: 34%;
    }
    .user-input{
        width: 70%;
        font-size: 15px;
    }
    .btn-select{
    width: 20%;
    margin-left: 10px;
    font-size: 15px;
}
.emoji-picker{
  left: 20%;
  width: 75% !important;
}
 .clear-btn{
    margin:10px ;
     background-color: #222831;
  color: beige;
  border: none;
  padding: 10px 15px;
  text-align: center;
  min-width: 80px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}
.clear-btn:hover{
  transform: scale(1.05); 
  transition: transform 0.3s;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  color: #222831;
  background-color:gray
}
.btn-container{
    display: flex;
  justify-content: center;
  gap: 5px;
}
}